.hero{
    position: relative;
}

.banner{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, #000000 75%);
}

.herocaption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}

.captionimg{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.herocaption .herotext{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.herobtns{
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
}

.herobtns .btn img{
    width: 25px;
}

.herobtns .btn {
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.herobtns .btn.darkbtn{
    background: #6d6d6eb3;
    color: #fff;
}

.herobtns .btn:hover{
    background: #ffffffbf;
}

.herobtns .btn.darkbtn:hover{
    background: #6d6d6e66;
}

.more-cards{
    padding-left: 6%;
}

@media (max-width: 1024px) {
    .herocaption .title-cards{
        display: none;
    }

    .herobtns{
        margin-bottom: 30px;
    }
}

@media (max-width: 800px){
    .herocaption{
        padding-left: 4%;
    }

    .captionimg{
        margin-bottom: 10px;
        width: 40%;
    }

    .herocaption .herotext{
        font-size: 12px;
        margin-bottom: 10px;
    }

    .herobtns .btn img{
        width: 20px;
    }

    .more-cards{
        padding-left: 4%;
    }
}

@media (max-width: 500px){
    .herotext{
        display: none;
    }

    .herobtns .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }

    .herobtns .btn img{
        width: 15px;
        gap: 5px;
        font-size: 10px;
    }
}